@tailwind base;
@tailwind components;
@tailwind utilities;

.inputBox{
    background: #333!important;
}

.Header{
    z-index: 60!important;
}

.backgroundImage > img{
    height: 100vh !important;
    width: 100vw !important;
   
    
    object-fit: cover !important;
}

.SignoutButton{
    color: white !important;
    font-weight: bold !important;
    border: 1px solid white !important;
    width: 120px !important;
    text-transform: capitalize!important;
}

.playButton{
    background-color:white !important;
    color: black !important;
    font-weight: bold;
    font-size: 18px;
}

.moreInfoButton{
    background-color: rgb(162, 162, 162) !important;
    color: white !important;
    text-transform: capitalize !important;
    font-weight: bold;
    font-size: 18px;


}



.gptPageSearchButton{
    margin-top: 5px !important;
    background-color:#d62832!important;
}

.gptButton{
    background-color:#d62832!important;
    width: 110px!important;
    height: 30px!important;
    padding: 15px!important;
    font-size: 12px !important;
}

.hoverDiv{
    position: absolute!important;
    top: 55px !important;
    right: 25px !important;
    display: none !important;
}

.userIcon{
    cursor: pointer;
}

.userIcon:hover .hoverDiv{
    display: block!important;
}

.icon{
    margin-right: 10px!important;
    color: #fff !important;
}

.liststyle{
    color: white !important;
}
.arrowIcon{
    color: #fff !important;
}

.anim{
    transition: all .5s ease!important;
}




/**
    THIS BELOW LINE OF CODE HIDES THE SCROLLBAR
*/
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media only screen and (max-width: 1250px) {
    /* .formStyle{
        width: 400px !important;
        margin-top: 50px !important;
    } */

   
  }
  
  @media only screen and (max-width: 850px) {
   
    /* .formStyle{
        width: 50% !important;
        margin-top: 70px !important;
    } */
  }

  @media only screen and (max-width: 700px) {
   
    .loginPage{
        position: absolute!important;
        background-color: black !important;
        width: 100%;
        height: 100vh!important;
        
    }
    .backgroundImage {
        /* height: 100vh !important;
        width: 100vw !important;
       
        
        object-fit: cover !important; */
        display: none !important;
        position: none !important;
       
    }

    .Header{

        position: relative;
    }
    .formStyle{
        width: 85%!important;
        margin:25px auto!important;
        position: relative!important;

        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    



  }